---
- name: Install chrony
  ansible.builtin.apt:
    name: chrony
    state: present
  become: true
  become_user: root

- name: Enable chrony
  ansible.builtin.service:
    name: chrony
    enabled: true
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Configure newer chrony version
  ansible.builtin.template:
    src: chrony.conf.jinja2
    dest: /etc/chrony/chrony.conf
    owner: root
    group: root
    mode: "0644"
  notify: Restart chrony
  when: ansible_facts.distribution_major_version | int >= 11
  become: true
  become_user: root

- name: Configure old chrony version
  ansible.builtin.template:
    src: chrony_old.conf.jinja2
    dest: /etc/chrony/chrony.conf
    owner: root
    group: root
    mode: "0644"
  notify: Restart chrony
  when: ansible_facts.distribution_major_version | int < 11
  become: true
  become_user: root
